<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - itsvlogtime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<!--
    https://i.imgur.com/TAByV4c.jpeg
    https://i.imgur.com/hOMprGc.jpeg
    https://i.imgur.com/mBFTfzd.jpeg
-->


<body style="background-image: url(https://i.imgur.com/zuKYL7Z.jpg); background-size: cover; background-position: center center">
    <header>
        <div class="container">
            <div class="text-center mb-3 mt-3 bg-transparent border" style="padding-bottom: 18px">
                <div style="font-style: oblique; font-size: 400%">IT'S VLOG TIME</div>
                <div>(with Pete)</div>
            </div>
        </div>
        <div class="container mb-3">
            <div style="background:white">
                <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; justify-content:space-between; width:100%">
                    <li style="display:block; margin:auto; flex:0 1 auto">
                        <a class="nav-link" href="#"><strong>Blog</strong></a>
                    </li>
                    <li style="display:block; margin:auto; flex:0 1 auto">
                        <a class="nav-link" href="#"><strong>Map</strong></a>
                    </li>
                    <li style="display:block; margin:auto; flex:0 1 auto">
                        <a class="nav-link" href="#"><strong>Extras</strong></a>
                    </li>
                    <li style="display:block; margin:auto; flex:0 1 auto">
                        <a class="nav-link" href="#"><strong>Youtube</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2021 - itsvlogtime
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
