@{
	ViewData["Title"] = "Extras";
}

<div class="bg-white border-dark" style="padding:20px">
    <div style="margin:10px 10px 10px 10px">
        <div class="row" style="justify-content:space-between">
            <div class="col-auto float-left"><h3>Extras!</h3>  Whoops there's nothing here XD</div>
        </div>
        <hr />
    </div>
</div>