@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-white border-dark" style="padding:20px">
    <p>Welcome friends.  Welcome to the brand new It's Vlog Time blog.  Probably should just call it "It's Blog Time" but hey...</p>
    <p>The website is currently under construction so there's not much here.  But feel free to enjoy it regardless.  Smell it.  Breathe it in.</p>
    <p>In the future this site will hold extra goodies for fans of the It's Vlog Time series.</p>
    <p>Thanks for stopping by!</p>
    <p class="mb-0">-Pete (kachow)</p>
</div>
