@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>IT IS VLOG TIME!!!</p>
    <p>Welcome friends.  Welcome to the brand new It's Vlog Time blog.  Probably should just call it "It's Blog Time" but hey.  I'm gay.</p>
</div>
