@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-white border-dark">
    <p>Welcome friends.  Welcome to the brand new It's Vlog Time blog.  Probably should just call it "It's Blog Time" but hey...</p>
</div>
