@{
	ViewData["Title"] = "Map";
}

<div class="bg-white border-dark" style="padding:20px">
	Map page

	<iframe width="100%" height="576" src="https://maphub.net/embed/126619?geolocation=1&legend=1&panel=1" frameborder="0" allow="geolocation"></iframe>
</div>