@{
	ViewData["Title"] = "Map";
}

<div class="bg-white border-dark" style="padding:20px">
    <div style="margin:10px 10px 10px 10px">
        <div class="row" style="justify-content:space-between">
            <div class="col-auto float-left"><h3>It's Vlog Time Adventure Map!</h3>  This map shows all the places we've been on the vlog.</div>
        </div>
        <hr />

        <iframe width="100%" height="576" src="https://maphub.net/embed/126619?geolocation=1&legend=1&panel=1" frameborder="0" allow="geolocation"></iframe>
    </div>
</div>
