@{
	ViewData["Title"] = "Youtube";
}

<style>
	@@media only screen and (max-width: 600px) {
		.mobile-div {
			margin: auto;
		}
	}

	.mobile-div {
		margin-left: 100px;
		margin-right: 100px;
	}
</style>

<div class="bg-white border-dark" style="padding:20px">
	<div style="margin:10px 10px 10px 10px">
		<div class="row" style="justify-content:space-between">
			<div class="col-auto float-left"><h3>Youtube!</h3>  Find the latest episodes of It's Vlog Time here!  (Give it a second to load pls...)</div>
		</div>
		<div>
			<span id="coordinates"></span>
		</div>

		<hr />

		<div class="bg-white border-dark" style="padding:20px">

			<!--This stuff is all for embedding the latest it's vlog time vids.  It loads kinda slow.  Need to move it to a seperate file later and maybe make faster.-->
			<div class="text-center">
				<iframe class="latestVideoEmbed" vnum='0' cid="UCb3seCx-K6qjup1EBe71W1g" width="600" height="340" frameborder="0" allowfullscreen></iframe>

				<iframe class="latestVideoEmbed" vnum='1' cid="UCb3seCx-K6qjup1EBe71W1g" width="600" height="340" frameborder="0" allowfullscreen></iframe>

				<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
				<script>
					var reqURL = "https://api.rss2json.com/v1/api.json?rss_url=" + encodeURIComponent("https://www.youtube.com/feeds/videos.xml?channel_id=");

					function loadVideo(iframe) {
						$.getJSON(reqURL + iframe.getAttribute('cid'),
							function (data) {
								var videoNumber = (iframe.getAttribute('vnum') ? Number(iframe.getAttribute('vnum')) : 0);
								console.log(videoNumber);
								var link = data.items[videoNumber].link;
								id = link.substr(link.indexOf("=") + 1);
								iframe.setAttribute("src", "https://youtube.com/embed/" + id + "?controls=0&autoplay=0");
							}
						);
					}

					var iframes = document.getElementsByClassName('latestVideoEmbed');
					for (var i = 0, len = iframes.length; i < len; i++) {
						loadVideo(iframes[i]);
					}
				</script>
			</div>

		</div>
	</div>
	<hr />

</div>

